{% extends "base.html.twig" %}

{% block title %}Главная{% endblock %}

{% block body %}

    Ваш почтовый ящик - {{ client.getUsername }}
    <hr/>
    <p>Подключить социальную сеть?</p>


        {{ include('merge/ulogin_merge.html.twig') }}


{% endblock %}


