<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.2/css/bootstrap-slider.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
        {% block stylesheets %}{% endblock %}

    </head>
    <body style="color: wheat;
    background: #282828;">
    <style>
        .link_index{
            border: 1px solid;
            padding: 5px 20px;
            background: beige;
        }
    </style>
    <div class="container">
        {% if app.getUser %}<a href="{{ path('logout') }}">Выйти</a> /{% endif %} <a href="{{ path('ping') }}">Главная</a>
            <a class="link_index" href="{{ path('app-sign-up') }}">Регистрация</a>

            {% if app.getUser %}
                <a class="link_index" href="{{ path('app-client-profile') }}">Личный кабинет</a>

                {% if 'ROLE_LANDLORD' in app.getUser().getRoles() %}
                    <br>
                    <br>
                   <p> <a id="registration_object" href="{{ path('app_sing_up_object') }}">Зарегестрировать объект</a></p>
                {% elseif 'ROLE_TENANT' in app.getUser().getRoles() %}
                    ''
                {% endif %}

            {% else %}
                <a class="link_index" href="{{ path('auth') }}">Авторизация</a>
            {% endif %}

        <hr/>
    {% block body %}  {% endblock %}
    </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
