{% extends "base.html.twig" %}

{% block title %}Главная{% endblock %}

{% block body %}
        {{ form(form) }}
        <div class="row">
            <div class="col-md-12">
                {% for object in objects %}
                    <div class="objects_item col-md-6" style="float: left; border: 1px solid; padding: 50px 0">
                        <div class="col-md-6">
                            <p>Тип - {{ object.typeObject }}</p>
                            <p>Название - {{ object.name }}</p>
                            <p>Кол-во номеров - {{ object.NumberOfRooms }}</p>
                            <p>Контактное лицо - {{ object.ContactPerson }}</p>
                            <p>Цена за путевку - {{ object.price }}</p>
                            <p>адрес - {{ object.adress }}</p>
                            {% if app.getUser %}
                                {% if 'ROLE_LANDLORD' in app.getUser().getRoles() %}
                                    <span style="color:red">Для бронирования, войдите как арендовзятель. . .</span>
                                {% elseif 'ROLE_TENANT' in app.getUser().getRoles() %}

                                    <form METHOD="post" action="{{ path('app_reservation') }}">
                                        <label for="value_room">Выберите комнату</label>
                                            <input name="room" id="value_room" type="text" placeholder="Кол-во комнат - {{ object.NumberOfRooms }}"/>
                                            <input name="object_id" type="hidden" value="{{ object.getId() }}">
                                            <br>
                                            <button>Забронировать</button>
                                    </form>

                                {% endif %}
                            {% else %}
                                <span style="color:red">Для бронирования, войдите как арендовзятель. . .</span>
                            {% endif %}
                        </div>
                    </div>

                {% else %}
                    <p>Ни одного объекта ни найдено!</p>
                {% endfor %}
            </div>
        </div>

{% endblock %}


